/* r.a.d.menu Plain skin */

.RadMenu_max
{
	width: 660px;
	height: 46px;
}

.RadMenu_max_Context
{
	background: none;
	border: 0;
}

.RadMenu_max .item
{
	padding-top: 14px;
	padding-bottom: 12px;
}

.RadMenu_max .link, .RadMenu_max .link:visited
{
	line-height: 15px;
	text-decoration: none;
	color: #ffffff;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: normal;
}

.RadMenu_max .link:hover, .RadMenu_max .focused, .RadMenu_max .expanded
{
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
}

.RadMenu_max .text
{
	font-family: Verdana;
	font-size: 9px;
	cursor: pointer;
	text-transform: uppercase;
}

.RadMenu_max .group
{
	background: #c90051;
}

.RadMenu_max .group .item
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.RadMenu_max .group .link, .RadMenu_max .group .link:visited
{
	text-align: left;
	width: 232px;
	padding-left: 13px;
	padding-right: 13px;
	text-decoration: none;
	line-height: 15px;
	font-weight: normal;
}

.RadMenu_max .group .link:hover, .RadMenu_max .group .focused, .RadMenu_max .group .expanded
{
	text-decoration: underline;
	font-weight: normal;
}

.RadMenu_max .leftArrow, .RadMenu_max .rightArrow, .RadMenu_max .topArrow, .RadMenu_max .bottomArrow, .RadMenu_max .leftArrowDisabled, .RadMenu_max .rightArrowDisabled, .RadMenu_max .topArrowDisabled, .RadMenu_max .bottomArrowDisabled
{
	background: #ededed url( 'img/left.gif' ) center center no-repeat;
	width: 15px;
}

.RadMenu_max .topArrow, .RadMenu_max .topArrowDisabled
{
	background-image: url( 'img/top.gif' );
	width: 100%;
}

.RadMenu_max .bottomArrow, .RadMenu_max .bottomArrowDisabled
{
	background-image: url( 'img/bottom.gif' );
	width: 100%;
}

.RadMenu_max .rightArrow, .RadMenu_max .leftArrow
{
	height: 100%;
}

.RadMenu_max .rightArrow, .RadMenu_max .rightArrowDisabled
{
	background-image: url( 'img/right.gif' );
}

.RadMenu_max .vertical .separator .text
{
	padding-top: 2px;
	background: #ccc;
	display: none;
	font-size: 1px;
}

.RadMenu_max .expandLeft, .RadMenu_max .expandRight
{
	/*background: transparent url(img/invertedGroupImage.gif) right center no-repeat;*/
	margin-right: 4px;
}

.RadMenu_max .link:hover .expandLeft, .RadMenu_max .link:hover .expandRight, .RadMenu_max .focused .expandLeft, .RadMenu_max .focused .expandRight, .RadMenu_max .expanded .expandLeft, .RadMenu_max .expanded .expandRight
{
	/*background: transparent url(img/invertedGroupImage.gif) right center no-repeat;*/
}

.RadMenu_max .Separator
{
	font-weight: normal;
	font-size: 9px;
	color: #e55464;
	line-height: 43px;
	padding: 0px;
}
.radmenu
{
	white-space:nowrap;
	float:left;
	position:relative;
}


.radmenu:after 
{
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.radmenu ul.horizontal,
.radmenu ul.vertical
{
	margin:0;
	padding:0;
	display:none;
	position:relative;
	left:0;
	float:left;
}

.radmenu .item
{
	float:left;
	position:relative;
	list-style-image: none;
	list-style-position:outside;
	list-style:none;	
	_display:inline;
}


.radmenu .horizontal .item
{
	clear:none;
}

.radmenu .vertical .item
{
	clear:both;
}


.radmenu ul.active,
.radmenu ul.rootGroup
{
	display:block;
}

.radmenu .slide, 
.contextMenu
{
	position:absolute;
	overflow:hidden;
	display:none;
	_height:1px;
	float:left;
}

.contextMenu
{
	z-index:1000;
}

.radmenu .text
{
	display:block;
}

.radmenu a.link
{
	cursor:default;
	display:block;	
}


.scrollWrap
{
	position:absolute;
	float:left;
	overflow:hidden;
	left:0;
}

.radmenu .leftArrow,
.radmenu .topArrow,
.radmenu .bottomArrow,
.radmenu .rightArrow
{
	position:absolute;
	z-index:2000;
	text-indent:-1000em;
}

.radmenu .leftArrowDisabled,
.radmenu .topArrowDisabled,
.radmenu .bottomArrowDisabled,
.radmenu .rightArrowDisabled
{
	display:none;
	text-indent:-1000em;
}

.radmenu .bottomArrow,
.radmenu .bottomArrowDisabled
{
	margin-bottom: -1px;
}

.radmenu .leftImage
{
	border:0;
	float:left;
}

.rtl
{
	float:right;
}

.rtl ul.horizontal,
.rtl ul.vertical
{
	float:right;
}

.rtl .item
{
	float:right;	
}

.rtl .leftImage,
.rtlcontext .leftImage
{
	border:0;
	float:right;
}

.radmenu ul.rootGroup
{
	float:none;
	_float:left;
}

.radmenu .link
{
	width:auto;
}

/*aman css start*/
.blocks{
	text-align: center;
	padding: 50px 0;
}
.blocks img{
	margin-bottom: 20px;
}
.footerNav{
	padding: 10px 0;
}
.footerNav a,
.footerNav span{
	margin: 0 15px ;
}
.search-wrapper{
	width: 178px;
	float: right;
	padding: 14px 0;
}
.search-wrapper-input{
	float: left;
	line-height: 1px;
}
.banner-image img{
	width: 100%;
}
.main-content{
	background: #fff; 
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
}
.ContentText{
	font-size: 12px;
	margin-bottom: 20px;
}
.ContentHeading{
	margin-bottom: 20px;
	display: block;
}
.footerNav a,
.footerNav span{
	font-size: 12px !important;
}
/*nav*/
/*
1.1 Header Area
***************************************************/
/*Bootstrap Reset*/
.navbar-nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
}
.mainmenu {
	background-color: transparent;
	border-color: transparent;
	margin-bottom: 0;
	border: 0px !important;
	float: left;
}
.navbar-nav > li:last-child > a {
	padding-right: 0px;
	margin-right: 0px;
}
.dropdown-menu {
	padding: 0px 0; 
	margin: 0 0 0; 
	border: 0px solid transition !important;
	border: 0px solid rgba(0,0,0,.15);	
	border-radius: 0px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background: #c90051;
}
/*=-====Main Menu=====*/
.header_bottom { background: #c90051; }

.header_area .header_bottom .mainmenu a , .navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	padding: 14px 8px;
	line-height: 15px;
	text-decoration: none;
	font-family: Verdana;
	font-weight: normal;
}
.header_area .header_bottom .mainmenu .dropdown-menu a{
	padding: 5px 8px;
}
.header_area .header_bottom .mainmenu a:hover , .navbar-default .navbar-nav > li > a:hover{
	text-decoration: underline;
}
.header_area .mainmenu .active a,
.header_area .mainmenu .active a:hover,
.header_area .mainmenu a:hover{
	color: #fff;
	background: transparent;
	outline: 0;
}
/*-----./ Main Menu-----*/

.navbar-default .navbar-toggle { 
	border-color: #fff; 
} /*Toggle Button*/

.navbar-default .navbar-toggle .icon-bar { 
	background-color: #fff;
} /*Toggle Button*/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #fff;
}

/*==========Sub Menu=v==========*/

/******************************Drop-down menu work on hover**********************************/

@media only screen and (min-width: 767px) {
	.mainmenu .collapse ul li{position:relative;}
	.mainmenu .collapse ul li:hover> ul{display:block}
	.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
	/*******/
	.mainmenu .collapse ul ul li{position:relative}
	.mainmenu .collapse ul ul li:hover> ul{display:block}
	.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
	/*******/
	.mainmenu .collapse ul ul ul li{position:relative}
	.mainmenu .collapse ul ul ul li:hover ul{display:block}
	.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media screen and (max-width: 767px){
	.mainmenu{display: block;width: 100%;}
	.search-wrapper{/*margin-bottom: 30px;*/width: 100%;}
	.search-wrapper-inner{width: 90%;margin: auto;}
	.search-wrapper-input{width: 95%;}
	.search-wrapper-input input{width: 100%}
	.search-icon{width: 5%;float: left;}
	.banner-image img{height: auto;}
}
@media screen and (max-width: 400px){
	.blocks img{width: 100%;}
}
img#ctl02_thesearchbutton {
    vertical-align: unset;
}
.footerNav {
	text-align: center;
}
#MainDiv {
    background: #abbabf;
}
.breadcrumb {
    background: transparent;
}
.RIButton {
    text-align: right;
}
.ContentText {
    font-size: 12px;
}
.home {
	padding-top: 30px;	
	background-image: url('../images/MATRIX_Map_Home.jpg');
}
.ContentArea {
	background: url(../images/MATRIX_Map.jpg) no-repeat top center;	
}
.page-content {
    background: #fff;
    /*border: solid 3px #ffffff;*/
}
a.breadcrumb {
    padding: 3px;
}
.widget-title {
	text-transform: uppercase;
    background: #abbabf;
    width: 190px;
    padding: 8px;
    margin: 10px 0px;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    font-family: verdana, sans-serif;
    color: #ffffff;
}
.page-links {
	list-style: none;
    width: 100%;
    display: block;
    float: left;
    padding: 0;
}

.page-links p {
	color: rgb(51, 51, 51); 
	font-family: verdana, sans-serif; 
	font-size: 11px; 
	font-weight: normal; 
	line-height: 19px;
}
.page-links h4 {
	margin-top: 0px;	
}
.page-links h4 a{
	color: #C90051;
    font: bold 16px Arial, Sans-Serif;
    text-decoration: none;
}
/* responsive */
@media only screen and (max-width: 600px) {
	.footerNav a, .footerNav span {
	    margin: 0 5px;
	}
}
.right-widget img {
	max-width: 100%;
	margin: 5px 0px;
}
.request {
	float: right;
}
.col-sm-3.link-image {
    width: 50px;
}
.RightCol a {
    width: 100%;
    float: left;
    margin: 3px 0px;
    text-align: left;
}
input#SearchForm_SearchForm_Search {
    padding: 10px;
}
input#ctl02_thesearchbutton {
    height: 23px;
    width: 23px;
}

.ContentArea img {
	max-width: 100%;
}
@media only screen and (max-width: 767px) {
	.row.header-nav {
	    width: 100%;
	}
	.header-nav .search-wrapper {
	    position: absolute;
	    right: 10px;
	}
	button.navbar-toggle {
	    float: left;
	    left: 10px;
	}
	.search-wrapper {
	    width: 70%;
	}
	.navbar-header {
	    width: 30%;
	}
	.sidebar-img {
		display: none;
	}
	.toggle-custom {
	  position: absolute !important;
	  top: 0;
	  right: 0;
	}
	#toggle-custom {position:absolute !important;top:0;right:0;}

	.header_area .header_bottom .mainmenu a, .navbar-default .navbar-nav > li > a {
		font-size: 10px;
	}
	#toggle-custom {
		display: block !important;
	}
}
#toggle-custom {
	display: none;
}
form#Form_ContactForm input, form#Form_ContactForm textarea {
    width: 100%;
}
.field {
    margin-bottom: 15px;
}
.breadcrumb {
	padding: 8px 0;
}
.page-content > .ContentArea {
    padding-left: 35px;
}
/* toggle */
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.readonly i {
    display: none;
}
form#Form_RqdlContactForm input, #Form_SoftwareVendorForm input, #Form_FeedbackForm input, #Form_FeedbackForm textarea {
    width: 100%;
}
form#Form_RqdlContactForm select {
	width: 100%;
	padding: 5px;	
}
.checkbox label {
    padding-left: 0px;
}
.checkbox {
    margin-left: 20px;
}
#Form_SoftwareVendorForm input[type='checkbox'] {
    width: max-content !important;
}
.right-image {
    width: 60%;
    float: left;
}
h5.ContentSubHeading {
	clear: both;
}
form#Form_FeedbackForm {
    margin: 10px;
}
div#bitnami-banner {
    display: none;
}
ul.optionset li {
    display: flex;
    margin: 0px 15px;
}
.radio {
    width: max-content !important;
}
ul.optionset label {
    font-weight: normal;
    width: auto;
    padding-left: 5px;
}
ul.optionset {
    display: inline-flex;
    width: 100%;
    list-style: none;
    float: left;
}