.ContentHeading
{
	font-family: arial, sans-serif;
	color: #c90050;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	line-height: 22px;
}
.ContentSubHeading
{
	font-family: arial, sans-serif;
	color: #c90050;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	align: none;
}
.ContentText
{
	font-family: verdana, sans-serif;
	color: #333333;
	font-size: 11px;
	font-weight: normal;
	line-height: 19px;
	text-decoration: none;
}
.ColumnText
{
	font-family: verdana, sans-serif;
	color: #333333;
	font-size: 10px;
	font-weight: normal;
	line-height: 15px;
	text-decoration: none;
}
.SubmitButton
{
	background: #747e82;
	border-left: solid 1px #5c5c5c;
	border-top: solid 1px #5c5c5c;
	border-right: solid 1px #90999d;
	border-bottom: solid 1px #90999d;
	font-family: arial, sans-serif;
	color: #eef1f2;
	font-weight: normal;
	font-size: 10px;
	height: 16px;
	cursor: pointer;
}
.ValidateError
{
	color: #ff0000;
	font-family: verdana, sans-serif;
	font-size: 11px;
	vertical-align: middle;
}
.CategoryHeading
{
	color: #C90051;
	font: bold 16px Arial, Sans-Serif;
}

blockquote
{
	padding: 0;
	margin: 0;
}