﻿.BodyClass
{
	background: #dde6ea;
	margin: 0px;
}
.NavArea
{
	border-top: 0px;
	border-bottom: solid 3px #ffffff;
	border-left: solid 3px #ffffff;
	border-right: solid 3px #ffffff;
	width: 100%;
	height: 46px;
}
.RightCol
{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.HomeMap
{
	background: #ffffff url(../../images/MATRIX_Map_Home.jpg) no-repeat top center;
	border-left: solid 3px #ffffff;
	border-bottom: solid 3px #ffffff;
}