﻿#TopDiv
{
	width: 660px;
	height: 46px;
}
#TopDiv ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Verdana;
	font-size: 9px;
	font-weight: normal;
	width: 100%;
}

#TopDiv li
{
	float: left;
}

#TopDiv a, #TopDiv a:visited
{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 43px;
	font-weight: normal;
}

#TopDiv a:hover
{
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
}

#TopDiv .Separator
{
	font-weight: normal;
	font-size: 9px;
	color: #e55464;
	line-height: 43px;
}


#MainDiv
{
	width: 168px;
}
#MainDiv ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	width: 100%;
}

#MainDiv li
{
	border-top: solid 1px #dae3e7;
}

#MainDiv ul li ul
{
	border-top: solid 1px #abbabf;
	padding-bottom: 7px;
	padding-top: 7px;
	background: #eef1f2;
}

#MainDiv li li
{
	border: 0px;
}

#MainDiv li #Selected
{
	background: #eef1f2;
	color: #333333;
	border-top:solid 1px #c90050;
}

#MainDiv li #Expanded
{
	background: #eef1f2;
	color: #333333;
	border-top:solid 1px #c90050;
}

#MainDiv li li #Selected
{
	background: #eef1f2 url(../../images/MATRIX_NavSelected.gif) no-repeat left;
	border: 0px;
	color: #c90050;
}

#MainDiv li li #Expanded
{
	background: #eef1f2 url(../../images/MATRIX_NavSelected.gif) no-repeat left;
	border: 0px;
	color: #c90050;
}

#MainDiv li a
{
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 9px;
	padding-bottom: 9px;
}

#MainDiv a, #MainDiv a:visited
{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	line-height: 15px;
	display:block;
}

#MainDiv a:hover
{
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
	display:block;
	background: #9eabb0;
}

#MainDiv li li a, #MainDiv li li a:visited
{
	color: #333333;
	text-transform: lowercase;
	text-decoration: none;
	padding-left: 21px;
	padding-right: 13px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	background: #eef1f2;
}

#MainDiv li li a:hover
{
	color: #6e7a7e;
	font-weight: normal;
	text-decoration: underline;
	background: #eef1f2;
}

#MainDiv .Separator
{
	font-weight: normal;
	font-size: 9px;
	color: #e55464;
}