.BodyClass
{
	background: #dde6ea;
	margin: 0px;
}
.NavArea
{
	border-top: 0px;
	border-bottom: solid 3px #ffffff;
	border-left: solid 3px #ffffff;
	border-right: solid 3px #ffffff;
	height: 46px;
}
.ContentArea
{
	background: url(../../images/MATRIX_Map.jpg) no-repeat top center;
}
.RightCol
{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.LogoCell
{
	width: 100%;
	border: solid 1px #abbabf;
	background: #ffffff;
}
.RIButton
{
	position: relative;
	text-align: right;
	top: -57px;
	left: -3px;
}
tr, td{
	vertical-align: top;
}