/* r.a.d.menu Plain skin */

.RadMenu_max
{
	width: 660px;
	height: 46px;
}

.RadMenu_max_Context
{
	background: none;
	border: 0;
}

.RadMenu_max .item
{
	padding-top: 14px;
	padding-bottom: 12px;
}

.RadMenu_max .link, .RadMenu_max .link:visited
{
	line-height: 15px;
	text-decoration: none;
	color: #ffffff;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: normal;
}

.RadMenu_max .link:hover, .RadMenu_max .focused, .RadMenu_max .expanded
{
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
}

.RadMenu_max .text
{
	font-family: Verdana;
	font-size: 9px;
	cursor: pointer;
	text-transform: uppercase;
}

.RadMenu_max .group
{
	background: #c90051;
}

.RadMenu_max .group .item
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.RadMenu_max .group .link, .RadMenu_max .group .link:visited
{
	text-align: left;
	width: 232px;
	padding-left: 13px;
	padding-right: 13px;
	text-decoration: none;
	line-height: 15px;
	font-weight: normal;
}

.RadMenu_max .group .link:hover, .RadMenu_max .group .focused, .RadMenu_max .group .expanded
{
	text-decoration: underline;
	font-weight: normal;
}

.RadMenu_max .leftArrow, .RadMenu_max .rightArrow, .RadMenu_max .topArrow, .RadMenu_max .bottomArrow, .RadMenu_max .leftArrowDisabled, .RadMenu_max .rightArrowDisabled, .RadMenu_max .topArrowDisabled, .RadMenu_max .bottomArrowDisabled
{
	background: #ededed url( 'img/left.gif' ) center center no-repeat;
	width: 15px;
}

.RadMenu_max .topArrow, .RadMenu_max .topArrowDisabled
{
	background-image: url( 'img/top.gif' );
	width: 100%;
}

.RadMenu_max .bottomArrow, .RadMenu_max .bottomArrowDisabled
{
	background-image: url( 'img/bottom.gif' );
	width: 100%;
}

.RadMenu_max .rightArrow, .RadMenu_max .leftArrow
{
	height: 100%;
}

.RadMenu_max .rightArrow, .RadMenu_max .rightArrowDisabled
{
	background-image: url( 'img/right.gif' );
}

.RadMenu_max .vertical .separator .text
{
	padding-top: 2px;
	background: #ccc;
	display: none;
	font-size: 1px;
}

.RadMenu_max .expandLeft, .RadMenu_max .expandRight
{
	/*background: transparent url(img/invertedGroupImage.gif) right center no-repeat;*/
	margin-right: 4px;
}

.RadMenu_max .link:hover .expandLeft, .RadMenu_max .link:hover .expandRight, .RadMenu_max .focused .expandLeft, .RadMenu_max .focused .expandRight, .RadMenu_max .expanded .expandLeft, .RadMenu_max .expanded .expandRight
{
	/*background: transparent url(img/invertedGroupImage.gif) right center no-repeat;*/
}

.RadMenu_max .Separator
{
	font-weight: normal;
	font-size: 9px;
	color: #e55464;
	line-height: 43px;
	padding: 0px;
}