﻿.copyright
{
	font-family: Verdana, Sans-Serif;
	font-size: 9px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}
.breadcrumb, a:link.breadcrumb, a:active.breadcrumb, a:hover.breadcrumb, a:visited.breadcrumb
{
	font-family: Verdana, Sans-Serif;
	font-size: 9px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}
.BreadSeparator
{
	color: #c90050;
}
.footerNav, a:link.footerNav, a:active.footerNav, a:hover.footerNav, a:visited.footerNav
{
	font-family: Verdana, Sans-Serif;
	font-size: 9px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}
.SearchField
{
	width: 143px;
	height: 15px;
	border-top: solid 1px #6b7f7f;
	border-left: solid 1px #6b7f7f;
	border-right: solid 1px #d4d6d6;
	border-bottom: solid 1px #d4d6d6;
	font-family: Verdana, Sans-Serif;
	font-size: 9px;
	color: #04050a;
	padding-left: 9px;
}
.LoginField
{
	width: 114px;
	height: 15px;
	border-left: solid 1px #6b7f7f;
	border-top: solid 1px #6b7f7f;
	border-right: solid 1px #d4d6d6;
	border-bottom: solid 1px #d4d6d6;
	font-family: Verdana, Sans-Serif;
	font-weight: normal;
	font-size: 10px;
	color: #333333;
}
.LoginButton
{
	background: #747e82;
	border-left: solid 1px #5c5c5c;
	border-top: solid 1px #5c5c5c;
	border-right: solid 1px #90999d;
	border-bottom: solid 1px #90999d;
	font-family: Arial, Sans-Serif;
	color: #eef1f2;
	font-weight: normal;
	font-size: 10px;
	height: 16px;
	cursor: pointer;
}
.LoginText
{
    font-family: Verdana, Sans-Serif;
    color: #333333;
    font-size: 10px;
    font-weight: normal;
    line-height: 19px;
    text-decoration: none;
}
a, a:link, a:active, a:hover, a:visited
{
	font-weight: normal;
	color: #0000ff;
	text-decoration: underline;
}
.CategoryHeading, .CategoryHeading:link, .CategoryHeading:visited, .CategoryHeading:active, .CategoryHeading:hover, a .CategoryHeading
{
	color: #C90051;
	font: bold 16px Arial, Sans-Serif;
	text-decoration: none;
}